@model IEnumerable<Vjezba.Model.Team>

@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.League.Name)
            </th>
            <th>
                Manager
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="p-3">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="p-3">
                    @Html.DisplayFor(modelItem => item.Stadium)
                </td>
                <td class="p-3">
                    @Html.DisplayFor(modelItem => item.League.Name)
                </td>
                <td class="p-3">
                    @if (item.Manager != null)
                    {
                        @Html.DisplayFor(modelItem => item.Manager.FirstName) @Html.DisplayFor(modelItem => item.Manager.LastName)
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TeamId" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TeamId" class="btn btn-secondary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TeamId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
